.panel.panel-default
  .panel-heading
    .panel-title
      .fa.fa-user-plus.fa-lg.title-text= " New User"
  .panel-body
    %form{ action: "/users", method: "post"}
      = input :name, object: @user, label: "Full name", placeholder: "Enter your full name"
      = input :email, object: @user, as: :email
      = input :password, object: @user, as: :password
      = input :birthday, object: @user, as: :date
      %input{type: "submit", value: "Create", class: "btn btn-primary"}
